.form {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: left;
    flex-direction: column;
    /* display: block; */
    width: 100%;
    height: 600px;
    overflow-y: auto;
  }
/* #form-container{
  min-height: 0;
} */
.main-div{
    width: 100%;
    height: 100%;
}
#details{
    width:100%;
    padding-left: 5px;
    padding-right: 5px;
}
#eventImage {
  width: 50%;
  position: relative;
}
#uploaded-image{
  width: 100%;
  height: auto;
}

input{
  font-size: medium !important;
  color: grey;
}

#show-location{
  height: 300px;
  width: 100%;
  margin-bottom: 15px;
}

#add-event{
  width: fit-content;
  /* display: flex;
  justify-content: left; */
}